<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>NxtBdyConsumerServlet</servlet-name>
        <servlet-class>tech.nxtbdy.NxtBdyConsumerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NxtBdyLocationServlet</servlet-name>
        <servlet-class>tech.nxtbdy.NxtBdyLocationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NxtBdyLocationServlet</servlet-name>
        <url-pattern>/bus_location</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NxtBdyConsumerServlet</servlet-name>
        <url-pattern>/update</url-pattern>
    </servlet-mapping>
</web-app>